body{
	background-image: url("./images/wall.jpg");
}
h1{
	font-size: 40px;
	display: block;
	color: darkorange;
	text-align: center;
	font-weight: bold;
}
section{
	font-family: arial;
	font-size: 20px;
	text-align: center;
	color: orange;
}
section p.special{
	display: inline-block;
	color: red;
	font-weight: bold;
}
nav{
	background: lightgrey;
	height: 80px;
	width: 100%;
	border-radius: 10px;
}
nav ul li{
	display: inline-block;
	margin: 0 8px;
	padding-top: 30px;
}
nav ul li a{
	color: black;
	font-size: 15px;
	padding: 20px 60px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
a.page{
	background: darkgrey;
	border-radius: 7px;
}
a:hover{
	background: whitesmoke;
	transition: 0.5s;
}
a:active{
	background: lightblue;
}