*{
	padding: 0;
	margin: 0;
	font-family: times new roman;
}
section {
	background: darkgrey;
	padding: 15px;
	margin: 10px;
}
section h2{
	color: white;
	font-size: 40px;
	font-family: verdana;
}
section p{
	font-size: 20px;
	padding: 10px;
	font-family: times new roman;
}
form fieldset{
	padding: 20px;
	margin: 10px;
}
#contact{
	padding: 10px;
	background: darkgrey;
}
a:visited{
	color: yellow;
}
a:hover{
	color: red;
}
a:active{
	color: blue;
}
input:focus{
	background-color: lightgrey;
}