#leader{
		background-image: url("../../images/wall.jpg");
}
h2{
	color: orange;
	font-family: arial;
	text-align: center;
	font-size: 35px;
}
section p{
	color: white;
	font-family: arial;
	font-size: 25px;
	text-align: center;
}
.essentials p{
	color: white;
	font-size: 15px;
	font-family: Lucida Console;
}
.essentials h3{
	color: lightblue;
	font-family: Verdana;
}